<%- include("partials/header"); -%>

<body>
    <div class="container-fluid header">
            <h1 class="title">Fashion Editorials</h1>
            <h1 class="name">by Carlos</h1>
    </div>
<div class="container">
        <div class="row">
            <div class="col col-mobile">
                <div class="wrapper">
                    <a href="/fleur">
                        <img src="images/1.jpg" alt="">
                    <div class="overlay">
                        <h2>Fleur d'Amandier</h2>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <a href="/hiding">
                        <img src="images/2.jpg" alt="">
                    <div class="overlay">
                        <h2>Hiding</h2>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row row-single">
            <div class="col">
                <div class="wrapper">
                    <a href="/amen">
                        <img src="images/3.jpg" alt="">
                    <div class="overlay">
                        <h2>Amen Fashion</h2>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-mobile">
                <div class="wrapper">
                    <a href="/sunny">
                        <img src="images/4.jpg" alt="">
                    <div class="overlay">
                        <h2>Sunny Days Are Over</h2>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <a href="/summer">
                        <img src="images/5.jpg" alt="">
                    <div class="overlay">
                        <h2>Summer (Fair) Play</h2>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row row-single">
            <div class="col">
                <div class="wrapper">
                    <a href="/room">
                        <img src="images/6.jpg" alt="">
                    <div class="overlay">
                        <h2>Big White Room</h2>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>