* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #212121;
    background-image: linear-gradient(45deg, #000 , #212121);
}

.header {
    height: 90px;
    background-color: none;
}

.title {
    display: inline-block;
    margin-top: 40px;
    margin-left: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: #fafafb;
}

.name {
    display: inline-block;
    font-size: 20px;
    color: #fafafb;
    font-family: "Bebas Neue", sans-serif;
}

.footer {
    height: 60px;
    background: #292929;
    text-align: center; 
}

.footer p {
    display: inline-block;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #fafafb;
}

.container {
    margin-top: 30px;
    padding: 10px 10%;
    text-align: left;
}

.row {
    margin-bottom: 50px;
}

.row-single {
    text-align: center;
}

.wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.wrapper img {
    width: 425px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #212121;
    opacity: 0;
    border-radius: 10px;
    transition: transform 0.5s;
    font-family: "Bebas Neue", sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
}

.overlay h2 {
    font-size: 50px;
    color: #fafafb;
    margin-bottom: 20px;
}

.wrapper:hover img {
    transform: scale(1.05);
}

.wrapper:hover .overlay {
    transform: scale(1.05);
    transition: 0.5s;
    opacity: 0.7;
}

/* Carousel */

.carousel-inner {
    position: relative;
    text-align: center;
}

.carousel img {
    position: relative;
    margin-top: 40px;
    border-radius: 10px;
    max-width: 2000px;
    height: 90vh;
}