* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #212121;
    background-image: linear-gradient(to right bottom, #212121, #1b1b1b, #141414, #0c0c0c, #000000);
}

nav {
    background-color: none;
}

nav a {
    text-decoration: none;
    color: #fafafb;
}

nav a:hover {
    color: #fafafb;
}

.logo {
    margin-top: 30px;
    margin-left: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: #fafafb;
}

.logo span {
    font-size: 20px;
    color: #fafafb;
}

.return {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 10px;
    color: #fafafb;
}

.footer {
    height: 60px;
    background: #292929;
    text-align: center;
}

.footer p {
    display: inline-block;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #fafafb;
}

.container {
    margin-top: 30px;
    padding: 10px 10%;
    text-align: left;
}

.row {
    margin-bottom: 50px;
}

.row-single {
    text-align: center;
}

.wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.wrapper img {
    width: 425px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.wrapper:hover img {
    transform: scale(1.05);
}

.wrapper:hover .overlay {
    transform: scale(1.05);
    transition: 0.5s;
    opacity: 0.7;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #212121;
    opacity: 0;
    border-radius: 10px;
    transition: transform 0.5s;
    font-family: "Bebas Neue", sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
}

.overlay h2 {
    font-size: 50px;
    color: #fafafb;
    margin-bottom: 20px;
}

/* Carousel */

.carousel-inner {
    position: relative;
    text-align: center;
}

.carousel img {
    position: relative;
    margin-top: 40px;
    margin-bottom: 75px;
    border-radius: 10px;
    max-width: 2000px;
    height: 75vh;
}

/* Mobile phones */

@media only screen and (max-width: 480px) {


    .logo {
        margin: 0;
        padding-top: 50px;
        text-align: center;
        margin: none;
    }

    .wrapper img {
        width: 300px;
    }

    .overlay h2 {
        font-size: 30px;
    }

    .col {
        display: inline-block;
        text-align: center;
    }

    .col-mobile {
        margin-bottom: 50px;
    }

    /* Carousel */

    .carousel-inner {
        width: 100%;
    }

    .carousel img {
        max-width: 400px;
        object-fit: contain;
    }
}